{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }} <!-- Main function of this line is to secure the form against attacks-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}  <!-- Print label -->
                    {% if form.password.errors %}  <!-- If invalid data is supplied to the form-->
                        {{ form.password(class="form-control form-control-lg is-invalid") }}   <!--Show a bootstrap theemed invalid form-->
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %} <!--loop through the errors generated-->
                                <span>{{ error }}</span>    <!-- Print the errors-->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}  <!--Show this if there is no error-->
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}  <!-- Print label -->
                    {% if form.confirm_password.errors %}  <!-- If invalid data is supplied to the form-->
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}   <!--Show a bootstrap theemed invalid form-->
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %} <!--loop through the errors generated-->
                                <span>{{ error }}</span>    <!-- Print the errors-->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}  <!--Show this if there is no error-->
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }} <!--Submit button-->
            </div>
        </form>
    </div>
    
{% endblock content %}
